# ======================
# Docker volumes (RẤT QUAN TRỌNG)
# ======================
volumes/
**/volumes/

# ======================
# Airflow
# ======================
airflow/logs/
airflow/*.db
airflow/airflow.cfg

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.log

# Env files
.env
.env.*

# Virtual environments (QUAN TRỌNG)
.venv/
venv/
env/
ENV/

# ======================
# Spark
# ======================
spark-warehouse/
metastore_db/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Misc
# ======================
*.tmp
*.swp
# ======================
# Security & Credentials
# ======================
keys/
*.json
!*.avsc

# ======================
# Terraform
# ======================
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
lesson/
AGENTS.md
dbt_music_stream/target/
